.ab {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color :#b0c4de;
}

.abTop {
  width: 100%;
  height: 45%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.abBottom {
  display: flex;
  flex-direction: column;
  height: 55%;
  align-items: center;
  margin-top: 50px;
}

.abBottom p {
  width: 1200px;
}

.ab .abBottom h1 {
  font-weight: 400;
  font-size: 70px;
  color:#a52a2a;
  height: 30px;
  display: flex;
  justify-content: center;
  transform: translateY(-40px);
}
