.footer {
  width: 100%;
  left:0;
  bottom:0;
  right:0;
  height: 80%;
  background-color: #b0c4de;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.socialMedia svg {
  color: #a52a2a;
  margin: 20px;
  font-size: 70px;
  cursor: pointer;
}

.footer p {
  color: #a52a2a;
}
